# Allow Prisma and other necessary packages to run build scripts
enable-pre-post-scripts=true
ignore-scripts=false

# Specifically allow these packages to run scripts
# Prisma needs to run postinstall scripts to generate the client
@prisma/client=enable
@prisma/engines=enable
prisma=enable
esbuild=enable

